.hearder {
	*border: solid 2px silver;
	*background: silver;
	margin-bottom: 5px;
	*padding: 2px;
	border-radius: 3px;
}

.content {
	border: solid 2px #fff;
	*background: #F1FCF9;
	margin-bottom: 5px;
	*padding: auto;
}

.notifications {
	font-size: 1em;
	margin-bottom: 5px;
}

.content-to-add {
	border: solid 1px black;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.logoSong{
	border: solid 1px;
	background: silver;
	min-height: 77px;
	float: right;
	margin-top: 10.7%;
	width: 14%;
	color: black;
	font-size: 1.7em;
	padding: 2px;
	text-align: center;
	background-image:url('../images/logoSong.png');
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center center;
}

.songAttribute{
	display: inline-block;
	width: 12%;
	border-bottom: solid 1px;
	border-right: dashed 1px;
	margin-right: 5px;
	padding-bottom: 2px;
}

.line.dropable .songAttribute{
	border-right: none;	
	border-bottom: none;
}

.line.dropable{
	border: solid 1px gray;
	cursor: pointer;	
}

.line{
	margin-left: 15px;
	margin-top: 1%;
}

.line:hover{
}

.line.showable{
	display:none;
	visibility:hidden;
}

.artistOfSong, .allArtist,
.genreOfSong, .allGenre,
.albumOfSong, .allAlbum {
	border: solid 1px gray;
}

span.bubble {
	border: solid 1px silver;
	background: ghostwhite;
	color: cadetblue;
	padding: 3px;
	border-radius: 10px;
	cursor: pointer;
	margin: 1px;
	display: inline-block;
}

.box {
	border: solid 1px blue;
	min-height: 100px;
	margin-bottom: 14px;
	padding: 5px;
	border-radius: 5px;
}
.existingGenreList, .genreList {
	min-height: 50px;
}

.removable:hover {
	background: rgba(250, 15, 23, 0.57);
	color: white;
}

.new_artist, .new_genre, .new_album, .title {
	width: 40%;
}


.error {
	color: red;
	font-weight: bold;
}

.errorBox{
	border: solid 1px red;
}

.success {
	color: green;
	font-weight: bold;
}