<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:with="title='Admin - Ajouter de la musique'" th:include="/common/layoutAdmin::head">
</head>
<body sec:authorize="isAuthenticated()">

	<header id="header" class="skel-layers-fixed" th:include="common/layoutAdmin::nav">
	</header>
	<div class="container">
		<div class="hearder col-md-12">
			<h3>Ajouter de la musique</h3>
			<h4>Veuillez sélectonnez vos fichiers audios afin de les
				uploader. Attention au format!</h4>
		</div>

		<div class="content col-md-8" >
			<form role="form" th:action="@{/admin/uploadsongs}" method="post"
				enctype="multipart/form-data">
				<div class="form-group" th:each="i : ${#numbers.sequence( 1, 4)}">
					<label th:text="${'Fichier '+ i }">Fichier</label> <input
						type="file" name="file" />
					<p class="help-block">Extensions valides: .mp3, .aac, .wma, .m4a</p>
				</div>
				<button class="btn btn-default" type="submit">Uploader</button>
			</form>
		</div>
	</div>
</body>

	<script>
		$(document).ready(function() {
			$(".current").removeClass("current");
			$("._uploads").addClass("current");
		});
	</script>
</html>