<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"> 
	<!--<head th:with="title=${'Muzikkloud - Sons de l&#146;album '+ al.titre}"  th:include="common/layout::head">
	</head>
	<body id="frontBody">
	
	 Header 
		<header id="header" class="skel-layers-fixed" th:include="common/layout::nav">
		</header>-->
			<article id="main">
				<h2 style="text-align:center; color:white;" ><strong th:text="${al.titre}"></strong></h2>
				<section class="wrapper style1 container special">
					<div class="row">
						<div class="3u 12u(2)" th:each="song : ${al.getSongs()}">
							<section class="sectionBox">
								<header class="title">
									<h3><a class="navLink" th:text="${song.titre}" th:href="${'song?id='+song.getId()}"></a></h3>
								</header>
								<div class="songDesc">
									<div class="descLine"><span class="desc">Année : </span><span class="attr" th:text="${song.getDateParution()}"></span></div>
									<div class="descLine"><span class="desc">Album : </span><span class="attr"><a th:if="${song.album} != null" th:text="${song.album.titre}" th:href="${'album?id='+song.album.getId()}"></a><span th:if="${song.album} == null">Album Inconnu</span></span></div>
								</div>
								<footer>
									<ul class="buttons">
										<li><a th:href="${'song?id='+song.getId()}" class="button small navLink">&Eacute;couter</a></li>
									</ul>
								</footer>
							</section>
						</div>
					</div>
				</section>
			</article>
	<!-- 
	</body> -->
</html>
