<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"> 
	<head th:include="common/layout::head">  
	</head>
	<body>
		<div class="container">
			<nav th:include="common/layout::nav">
			</nav>
	
		
			<table class="table table-condensed">  
	    		<thead>  
				    <tr>  
				        <th>Id#</th>  
				        <th>Nom</th> 
				    </tr>  
			    </thead>  
			    <tbody>  
				    <tr th:each="artist : ${allArtists}">  
				        <td th:text="${artist.id}"></td>  
				        <td th:text="${artist.name}"></td>
				    </tr>  
			    </tbody>  
			</table>
		</div>
		
		<style><!--H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;} H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;} H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;} BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;} B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;} P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> <h1>Etat HTTP 400 - </h1><p><b>type</b> Rapport d''état</p><p><b>message</b> <u></u></p><p><b>description</b> <u>La requête envoyée par le client était syntaxiquement incorrecte ().</u></p><h3>Apache Tomcat/7.0.12</h3>
	
	</body>
</html>
