<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:with="title='Muzikkloud - Le meilleur de la musique'"
		th:include="common/layout::head">
	</head>
	<body id="frontBody" class="index">
		<div class="hidden">
			<audio controls="" autoplay="" loop="" th:src="${'audios/_Falsetto.mp3'}">
		    </audio>
		</div>
		<!-- Header -->
		<header id="header" class="alt" th:include="common/layout::nav">
		</header>
		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<div class="off" data-toggle="tooltip" data-placement="left" title="Couper la musique"></div>
				<header>
					<h2>MUZIKKLOUD</h2>
				</header>
				<p>
					<strong>Muzikkloud</strong>, le <br /> meilleur de la
					<br /> la musique.
				</p>
				<footer>
					<ul class="buttons vertical">
						<li><a href="songs" class="button fit scrolly">Débuter l'expérience...</a></li>
					</ul>
				</footer>
			</div>
		</section>
		<div class="" th:if="${((param.loginError != null) and (param.loginError[0] == 'true'))}">
			<script>
				loginFormDisplayInError();
			</script>
		</div>
		<div class="" th:if="${(param.loginPage != null)}">
			<script>
				loginFormDisplay();
			</script>
		</div>
	</body>
	<script>
		$(document).ready(function() {
			var a = document.getElementsByTagName("audio")[0];
			setTimeout(function(){ a.remove(); $(".off").css("visibility", "hidden"); $(".tooltip.fade.left.in").remove();}, 14000);
		});
	</script>
</html>
