<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"> 
	<head th:with="title='Muzikkloud - Le meilleur de la musique'" th:include="common/layout::head">  
	</head>
	<body>
		<div class="container">
			<nav th:include="common/layout::nav">
			</nav>
	
		
			<table class="table table-condensed">  
	    		<thead>  
				    <tr>  
				        <th>Nom</th> 
				        <th>Date</th>  
				        <th>Lien</th>
				        <th>Artistes</th>    
				    </tr>  
			    </thead>  
			    <tbody>  
				    <tr th:each="song : ${lastSongs}">  
				        <td th:text="${song.titre}"><a th:text="${song.link}" th:href="${'song?id='+song.getId()}"></a></td>  
				        <td th:text="${song.dateParution}"></td> 
				        <td><a th:text="${song.link}" th:href="${'song?id='+song.getId()}"></a></td> 
				        <!--  <td>
				        	<ul th:each="artist : ${song.artists}">
				        		<li th:text="${artist.name}"></li> 
				        	</ul>
				        </td> -->
				    </tr>  
			    </tbody>  
			</table>
		</div>
	
	</body>
</html>
