<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"> 
	<!-- <head th:with="title=${'Muzikkloud - '+song.getTitre()}" th:include="common/layout::head">
	</head>
	<body id="frontBody">
		Header
		<header id="header" class="skel-layers-fixed" th:include="common/layout::nav">
		</header>
		Main -->
		<article id="main">
			<section class="wrapper style4 container">
				<!-- Content -->
				<div class="content">
					<section>
						<!-- <a href="#" class="image featured"><img th:src="@{/ressources/images/pic04.jpg}" alt="" /></a> -->
						<header>
							<h3 class="bold" th:text="${song.getTitre()}"></h3>
							<span class="addPL glyphicon glyphicon-plus">Ajouter à ma playlist</span>
							<input type="hidden" class="plLink" th:value="${'audios/'+song.getLink()}"/>
							<input type="hidden" class="plName" th:value="${song.titre}"/>
						</header>
						<div class="songDisplay">
							<div class="songContent">
								
								
								<div class="descLine"><span class="desc one">Année: </span>
									<div class="cont">
										<span class="bubble"
											th:text="${song.getDateParution()}"></span>
									</div>
								</div>
								
								<div class="descLine"><span class="desc one">Artiste: </span>
									<div class="cont">
										<a th:each="a: ${Artists}" target="_blank" th:href="${'artist?id='+a.getId()}">
											<span class="bubble" th:text="${a.name}+' '"></span>
										</a>
									</div>
								</div>
								
								<div class="descLine"><span class="desc one">Album: </span>
									<div class="cont">
										<a  th:if="${song.album} != null" th:href="${'album?id='+song.album.getId()}">
											<span class="bubble" th:text="${song.album.titre}" ></span>
										</a>
										<span class="bubble" th:if="${song.album} == null">Album Inconnu</span>
									</div>
								</div>
							</div>
							<div class="comments" th:with="listNote = ${#numbers.sequence(1,note)}, listGris = ${#numbers.sequence(1,gris)}, listAll = ${#numbers.sequence(1,5)}">
								<h5>Note Moyenne</h5>
								<p class="notifications"></p>
								<input type="hidden" class="note" th:value="${note}"/>
								<input type="hidden" class="gris" th:value="${gris}"/>
								<span class="etoile etoile-pleine" th:if="${note} &gt; 0" th:each="n : ${listNote}"></span>
								<span class="etoile etoile-vide" th:if="${gris} &gt; 0" th:each="g : ${listGris}"></span>
								<span class="textNote" th:text="${note}+'/5'"></span><span class="textNote1" th:if="${note} &gt; 0" th:text="'pour un total de '+${nbAvis}+' avis.'"></span><div></div>
								<br/>
								<h5>Donner une note</h5>
								
								<form id="commentForm" method="post" class="form" role="form">
									<div class="form-group">
										<input type="hidden" class="idSong" th:value="${song.getId()}"/>
										<label for="author" class="">Pseudo*</label>
									    <input type="text" class="pseudo form-control required" name="author" placeholder="Entrez votre pseudo"></input>
									</div>
									<div class="form-group voteDiv">
										<label for="comment" class="sr-only">Note*</label>
										<span class="vote etoile etoile-vide" id="" th:each="g : ${listAll}"></span>
										<input type="hidden" class="comment" value=""/>
									</div>
									<button type="submit" class="btn btn-default">Noter</button>
								</form>
								<br/>
								<h5 id="viewComments">Voir toutes les notes</h5>
								<div class="commentBlock" th:each="c: ${song.commentaires}" th:with="content=${c.content}, lesgris=5-${content}, notes = ${#numbers.sequence(1,content)}, gris = ${#numbers.sequence(1,lesgris)}">
									<span class="authorSpan" th:text="${c.author}"></span>
									<span class="etoile etoile-pleine" th:each="n : ${notes}"></span>
									<span th:if="${lesgris} &gt; 0" class="etoile etoile-vide" th:each="g : ${gris}"></span>
								</div>
								
							</div>
						</div>
						<div class="right" >
							<div class="logoSong one"></div>
							<audio  controls="" th:src="${'audios/'+song.getLink()}">
								HTML5 audio not supported
							</audio>
						</div>
					</section>
				</div>
			</section>
		</article>
	<!-- </body>
	<script>
		$(document).ready(function() {
			$(".current").removeClass("current");
			$("._songs").addClass("current");
		});
	</script> -->
</html>
