<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"> 
	<!-- <head th:with="title='Muzikkloud - Toute la musique'"  th:include="common/layout::head">
	</head>
	<body id="frontBody">
	
		<div class="mContainer">
			<header id="header" class="alt" th:include="common/layout::nav">
			</header>
			<div id="reloadContent">-->
				<article id="main">
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="3u 12u(2)" th:each="song : ${songs}">
								<section class="sectionBox">
									<header class="title">
										<h3><a class="navLink" th:text="${song.titre}" th:href="${'song?id='+song.getId()}"></a></h3>
									</header>
									<div class="songDesc">
										<div class="descLine"><span class="desc">Année : </span><span class="attr" th:text="${song.getDateParution()}"></span></div>
										<div class="descLine"><span class="desc">Album : </span><span class="attr"><a th:if="${song.album} != null" th:text="${song.album.titre}" th:href="${'album?id='+song.album.getId()}"></a><span th:if="${song.album} == null">Album Inconnu</span></span></div>
									</div>
									<footer>
										<ul class="buttons">
											<li><a th:href="${'song?id='+song.getId()}" class="navLink button small">. . .</a></li>
										</ul>
									</footer>
								</section>
							</div>
						     
						</div>
					</section>
				</article>
			<!--</div>
		</div>-->
	
</html>
