<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org"> 
	<head th:with="title='Muzikkloud - Toute la musique'"  th:include="common/layout::head">
	</head>
	<body>
	
		<div class="container">
			<nav th:include="common/layout::nav">
			</nav>
			<table class="table table-condensed">
	    		<thead>  
				    <tr>  
				        <th>Titre</th> 
				        <th>Date</th>  
				        <th>Album</th>   
				        <th>Artistes</th>   
				    </tr>  
			    </thead>  
			    <tbody>  
				    <tr th:each="song : ${songs}">  
				        <td> <a th:text="${song.titre}" th:href="${'song?id='+song.getId()}"></a></td>  
				        <td th:text="${song.getDateParution()}"></td> 
				        <td><a th:if="${song.album} != null" th:text="${song.album.titre}" th:href="${'album?id='+song.album.getId()}"></a></td>
				        <td>
				        	<ul th:each="artist : ${song.artists}">
				        		<li th:text="${artist.name}"></li> 
				        	</ul>
				        </td>
				    </tr>  
			    </tbody>  
			</table>
		</div>
	
	</body>
</html>
